body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 500;
  margin: 0 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #6a11cb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.app-counter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.timer {
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.music {
  display: none;
  position: fixed;
  bottom: 3cm;
  left: 1cm; 
}

.musicbutton {
  position: fixed;
  bottom: 1cm;
  left: 1cm;
}

.spotifylink {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.settings {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1cm;
  right: 1cm;
}

.settings-box {
  display: none;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease;
  position: fixed;
  bottom: 2cm;
  right: 1cm;
}

.settings-box input[type="number"] {
  width: 50px;
  text-align: center;
}

.settings-box button {
  margin-top: 20px;
}

.settings-box.active {
  display: block;
}

.hide {
  display: none;
}

input[type="number"],
input[type="text"] {
  width: calc(50% - 10px);
  height: 10px;
  padding: 10px;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 20px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  transition: border 0.3s ease;
}

input[type="number"]:focus,
input[type="text"]:focus {
  border: 2px solid #6a11cb;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.timer {
  color: #fff;
  font-size: 6em;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-flex; /* Change display to inline-flex */
  align-items: center;
  white-space: nowrap; 
}

.timer.enlarged span {
  font-size: 1.5em;
  animation: pulse 2s infinite, zoomIn 0.5s;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Zoom in slightly */
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomReset {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.progress-bar {
  width: 80%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin-top: 10px;
}

.progress {
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  width: 0%;
  transition: width 1s linear;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.music {
  margin-top: 40px;
}

.custom-timer {
  position: fixed;
  bottom: 3cm;
  right: 1cm;
}

@media screen and (max-width: 768px) {
  .app {
    padding: 20px;
  }

  .timer {
    font-size: 2em;
  }

  .music,
  .settings,
  .musicbutton {
    bottom: 1cm;
    right: 1cm;
    left: unset;
  }

  .spotifylink input,
  .spotifylink button {
    width: 100%;
  }

  .music iframe {
    width: 100%;
    height: 200px;
  }
}

.task-list {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 15cm;
  margin-top: 20px;
  position: fixed;
  bottom: 1cm;
}

#tasks {
  list-style: none;
  padding: 0;
}

#tasks li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#taskInput {
  width: 70%;
  height: 40%;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #fff;
  margin-right: 10px;
}

#addTaskButton {
  padding: 10px 20px;
}

#currentTask {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  display: none;
}

#currentTask.show {
  display: block;
}
